HecateTagger.7z
.venv/
venv/
database/
.idea/
heatmaps/
models/
*.pyc
starthere.bat
starthere2.bat
data.json
resources/favourites.txt
resources/recent_directories.txt
resources/config.ini
resources/noteToSelf.txt
config.ini
*history.json
install.bat
run.bat
venv_scripts.py
.DS_store
