HecateTagger.7z
.venv/
venv/
database/
.idea/
heatmaps/
*.pyc
starthere.bat
starthere2.bat
data.json
resources/favourites.txt
resources/config.ini
config.ini
*history.json
venv_scripts.py
resources/tag_categories.csv
resources/filtertags.csv
resources/recommendations.csv
resources/tag_definition.csv
resources/danbooru_implications.csv
*__pycache__*
update_interface.bat